include README.md LICENSE CODE_OF_CONDUCT.md ChangeLog.md examples.md
include opfunu/cec_based/data_2005/*.txt
include opfunu/cec_based/data_2008/*.txt
include opfunu/cec_based/data_2010/*.txt
include opfunu/cec_based/data_2013/*.txt
include opfunu/cec_based/data_2014/*.txt
include opfunu/cec_based/data_2015/*.txt
include opfunu/cec_based/data_2017/*.txt
include opfunu/cec_based/data_2019/*.txt
include opfunu/cec_based/data_2020/*.txt
include opfunu/cec_based/data_2021/*.txt
include opfunu/cec_based/data_2022/*.txt
