include README.md LICENSE
include opfunu/cec/cec2005/support_data/*.txt
include opfunu/cec/cec2008/support_data/*.txt
include opfunu/cec/cec2010/support_data/*.txt
include opfunu/cec/cec2013/support_data/*.txt
include opfunu/cec/cec2014/support_data/*.txt
include opfunu/cec/cec2015/support_data/*.txt